<div class="comments-wrapper">
  <div class="card"
      *ngIf="_commentService.currentUserData != null"
      >
    <form #form="ngForm"
          class="col s12 m12"
          (submit)="onComment()"
          novalidate>
      <div class="row">
        <div class="input-field col s12"
        >
          <i class="material-icons prefix fa fa-comments"></i>
          <textarea id="icon_prefix2" 
                    class="materialize-textarea"
                    name="body"
                    required
                    [(ngModel)]="newComment.body">
          </textarea>
          <label for="icon_prefix2">Message</label>
        </div>
      </div>
      
      <div class="row">
        <button type="submit" 
                class="btn"
                [disabled]="form.invalid">
                Comment
        </button>
      </div>
    </form>
    <div class="test">
      <button class="btn"
      (click)="onclick()"
      >test output btn </button>
    </div>
  </div>
  <div class="card"
    *ngIf="!_commentService.currentUserData"
    >
    <p class="light">
      Login to comment...
    <i class="fa fa-comment-o" aria-hidden="true"></i>
    </p>
  </div>
</div>


