<nav>
  <div class="nav-wrapper container">
    <a routerLink="/home" class="brand-logo"> Angular2 </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li id="search">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input placeholder="search....."type="text" id="autocomplete-input" materialize="autocomplete">
        </div>
      </li>
      <li *ngIf="!_tokenService.currentUserData">
          <a class="modal-trigger" (click)="openModal1()">Login</a>
      </li>
      <!--<li *ngIf="_tokenService.currentUserData != null">
        <a href="#"> {{ _tokenService.currentUserData?.email }}</a> 
      </li> -->
      <li *ngIf="_tokenService.currentUserData != null"> 
        <!-- Dropdown Trigger -->
        <a materialize="dropdown" 
           class='dropdown-button' 
           data-activates='dropdown1'>
          {{ _tokenService.currentUserData?.email }}
        </a>
        <!-- Dropdown Structure -->
           <ul id='dropdown1' class='dropdown-content'>
              <li><a>one</a></li>
              <li><a routerLink="/dashboard/user/{{_tokenService.currentUserData?.id}}">dashboard</a></li>
              <li class="divider"></li>
              <li (click)="logOut()"><a>log out</a></li>
            </ul>
      </li>
    </ul>

    <!-- side nav -->
    <side-navigation></side-navigation>

    <!-- sidebar menu toggle -->
    <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left'}]" data-activates="slide-out"
      class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
   </div>
</nav>


<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions1">
    <div class="modal-content">
        <h4 class="">Sign In </h4>
        <error-message [errors]="_errors"></error-message>
        <user-form>Sign In</user-form>
    </div>

    <div class="modal-footer clearfix">
      <a class="waves-effect waves-green right" (click)="closeModal1()">
        <i class="large material-icons">clear</i>
      </a>
    </div>
</div>


    