nav {
  background-color: rgb(244, 67, 54);
}
.dropdown-content{
  top: 64px !important;
}



.modal-footer {
  .waves-effect{
  .large {
    font-size: 4rem;
    color: #dfdfdf;;
    &:hover {
      color: #ea4f4f;
    }
    }
  }
}

