<ul id="slide-out" class="side-nav">
  <div *ngIf="_tokenService.currentUserData != null">
  <li >
    <div class="userView">
      <div class="background">
        <img src="assets/images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="assets/images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">{{ _tokenService.currentUserData?.email}}</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div>
  </li>
  <li><a (click)="logOut()">log out</a></li>
  <li><div class="divider"></div></li>
  <li><a routerLink="/dashboard/user/{{_tokenService.currentUserData?.id}}">dashboard</a></li>
  </div>

  <div *ngIf="!_tokenService.currentUserData">
  <li><a class="waves-effect" routerLink="/">
      Angular2
    </a>
  </li>
  <li><a class="waves-effect" routerLink="/user/sign-in">Login</a></li>
  </div>
</ul>

