<div class="card" 
     *ngFor="let post of posts | async">
  <div class="card-content light">
    <p> {{ post.user.name }}</p>
    <p class="grey-text text-lighten-1"> {{ post.created_at | date: 'fullDate' }}</p>
    <span class="card-title">
       <a class="grey-text text-darken-3" routerLink="/post/{{ post.id}}"> {{ post.title }}</a> 
     </span>
    <p>{{ post.body }}</p>
  </div>

  <div class="card-action">
    <p class="right comments-counts" *ngIf="post.comments.length > 1">
        <i class="lnr lnr-bubble red-text"></i>  
        <span>{{ post.comments.length}} comments </span>
    </p>
    <p><a routerLink="/post/{{post.id}}">{{ post.title }}</a></p>
  </div>
</div>
