<div class="card" 
     *ngFor="let post of posts | async">
  <div class="card-content light">
    <div class="home-post">
      <div class="home-post-image">
        <img src="assets/images/yuna.jpg" alt="" class="circle">
      </div>
      <div class="home-post-profile">
        <span class="name-email light"> {{ post.user.name }}</span><br>
        <span class="time light"> {{ post.created_at | amTimeAgo }}</span>
      </div>
    </div>
    <span class="card-title">
       <a class="grey-text text-darken-3" routerLink="/post/{{ post.id}}"> {{ post.title }}</a> 
     </span>
    <p>{{ post.body }}</p>
  </div>

  <div class="card-action clearfix">
    <share-button class="left" 
      [button]='facebookButton' 
      [description]='post.title'>
    </share-button>

    <share-button class="left" 
      [button]='twitterButton' 
      [description]='post.title'>
    </share-button>
    
    <p class="right comments-counts" *ngIf="post.comments.length > 1">
        <i class="fa fa-comments-o"></i>  
        <span>{{ post.comments.length}} comments </span>
    </p>
  </div>
</div>
