.card {
    box-shadow: none;
    border: 1px solid rgba(224, 224, 224, 0.76);
    .card-action{
      padding: 7px 20px;
      p {
        i {
          font-size: 1.5em;
          position: relative;
          top: 0.2em;
        }
        
      }
        a {
          color: #e95420;
        &:hover {
          color: #039be5;
        }
      } 
    }
}