<form class="col s12"
  (ngSubmit)="_formService.submit()"
  [formGroup]="_formService.formGroup">

  <div class="form-field">
    <user-form-field             
        *ngFor="let field of this._formService.fields"
        [question]="field"
        [form]="_formService.formGroup">
    </user-form-field>
  </div>

  <div class="input-field col s12">  
    <button class="col s12 btn waves-effect waves-light btn-large" type="submit" [disabled]="!_formService.formGroup.valid || _formService.formGroup.pristine || _formService.submitLock">
        <ng-content *ngIf="!_formService.submitLock"></ng-content>
        <span *ngIf="_formService.submitLock">
            Submitting ...
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </span>
    </button>
  </div>
</form>
