<div class="post-page">
  <div class="post-wrapper">
    <div class="post-inner">
    
      <div class="post-profile-image">
        <img src="assets/images/yuna.jpg" alt="" class="circle">
      </div>
      <div class="post-profile">
        <span class="light email-name"> {{ post?.user?.email}}</span><br>
        <span class="time light">{{ post.created_at | amTimeAgo }} </span>
      </div>
  
      <div class="post-title">
        <h3 class="grey-text text-darken-4">{{ post.title }} </h3>
      </div>
  
      <div class="post-body">
        <p class="flow-text">{{ post.body }} </p>
      </div>
      <div class="post-social">
        <i class="fa fa-heart-o">
          <span>10</span>
         </i>
         <i class="fa fa-comments-o">
          <span *ngIf="post.comments?.length > 1">
            {{ post.comments?.length }}
          </span>
         </i>
         <share-button class="right" 
          [button]='facebookButton' 
          [description]='post.title'
          ></share-button>
           <share-button class="right" 
          [button]='twitterButton' 
          [description]='post.title'
          ></share-button>
      </div>
    </div>
  </div>
  

  <div class="comment-wrapper">
  
  <comment-form 
  [postId]="id"
  (createComment)="onCreateComment($event)"
  >
  </comment-form>
  
    <comment-card 
      [comment]="comment"
      *ngFor="let comment of post.comments"
      >
    </comment-card>
  </div>
  
</div>

