label {
    font-size: 1rem;
    color: #757575;
    width: 100%;
}

.user-form-error {
    color: #df6564 !important;
    width: 100%;
}

.user-form-valid {
    color: #72c380 !important;
    width: 100%;
}
