/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
body {
  background: #fafafa;
  color: rgba(66, 66, 66, 0.83);
} 

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

// Mixin itself
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

button.twitter,
button.facebook {
    border: none;
    background: transparent;
    span {
      i.fa-twitter,
      i.fa-facebook{
      font-size: 1.5em;
      color: #bdbdbd;
      &:hover{
        color: #e95420;
      }
    }    
    }
}


app-root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer{
  background: #e95420 !important;
}    

/**
form
**/

.form-container .form-content{
        width: 30% !important;
}

@media screen and (max-width: 992px) and (min-width: 800px) {
    .form-container .form-content{
        width: 50% !important;
    }
}

@media screen and (max-width: 799px) and (min-width: 0) {
    .form-container .form-content{
        width: 90% !important;
    }


}

//session #login #register #edit

.home a:hover {
    color: #42a5f5 !important;
}

.home a.text-uppercase {
    text-transform: uppercase;
}

.form-inner .form-field {
    padding: 20px 10px;
}

.full-error-message{
    background: rgb(253, 123, 113);
    margin: 15px 0 15px 0;
    padding: 1px 10px 10px 20px;
    p {
        color: #fafafa;
    }
}


.item{
    background-color: #fafafa;
    border-radius: 3px;
    width: 30%;
    min-height: 30%;
}

.item .block-heading {
    padding: 2px;
    background: #42a5f5;
}

.item .this-btn {
    display:block;
    margin: -26px auto;
}

.input-field {
    position: relative;
}
.input-field .form-validation-message {
    position: absolute;
    font-size: 0.8rem;
    color: #f44336;
    bottom: 2px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inner {
    background: #fff;
    padding: 10px;
}

    