/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
body {
  background: #fafafa;
  color: rgba(66, 66, 66, 0.83);
} 

// Mixin itself
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

button.twitter,
button.facebook {
    border: none;
    background: transparent;
    span {
      i.fa-twitter,
      i.fa-facebook{
      font-size: 1.5em;
      color: #bdbdbd;
      &:hover{
        color: teal;
      }
    }    
    }
}


app-root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer{
  background: rgb(218, 51, 48) !important ;
}    
    