<div class="container">
  <div class="post-inner">
  <h5>{{ post.title }} </h5>
  <span class="light"> {{ post?.user?.email}}</span><br>
  <span>{{ post.created_at | amTimeAgo }} </span>
  <p class="flow-text">{{ post.body }} </p>

  <div class="comments-wrapper">
  <div class="card">
   <comment-section></comment-section>
  </div>
  </div>

  <div *ngFor="let comment of post.comments">
    <div class="comment-card">
      <div class="comment-profile clearfix">
        <div class="comment-image">
          <img id="comment-imgage" src="/assets/images/yuna.jpg" alt="" class="circle"> <!-- notice the "circle" class -->
        </div>
        <div class="comment-profiles">
          <span> {{ comment?.user?.email }}</span>
          <br>
          <span> {{ comment.created_at | amTimeAgo}}</span>
        </div>
      </div>
      
      <span class="">
        {{ comment.body}}
      </span>
    </div>
  </div>

  <a routerLink="/home">back to home</a>
  <br>
  </div>
</div>